*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter_container{
    background-color: rgb(0, 123, 255);
    width: 100%;
    display: flex;
    display: flex;
    flex-wrap: wrap;
}

.header__filter{
    margin: 10px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
}