.card_container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 5px;
    box-shadow: 2px grey;
    margin: 10px;
    padding: 15px;
    flex-grow: 1;
}

.card_image{
    text-align: center;
}

img{
    width: 100%;
}

p{
    height: 115px;
    overflow: scroll;
    scrollbar-color: yellow #800080;
    scrollbar-width: 10px;
    margin-top: 15px;
}

.card__description{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.card__description--input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}