*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(85, 196, 159);
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
}

.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 20px;
}

.header__title{
    color: white;
    font-size: 45px;
}

.header__filters{
    color: white;
}